body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    height: 66px;
    width: 100%;
    margin: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    background-color: white;
    z-index: 100;
}
header div{
    align-self: center;
}
.logo{
    margin-left: 16px;
    font-size: 30px;
    min-width: 170px;
}
.logo a{
    text-decoration: none;
    color: #F5A63C;
}
.logo-text{
    margin-left: 15px;
    font-weight: bold;
}
.logo:hover, 
.search-button:hover, 
.notification-button:hover, 
.menu-button:hover, 
.microphone-button:hover,
.menu-list li:hover,
.streamer:hover,
.social-media i,
.stream-title:hover,
.streamer-avatar:hover,
.stream-menu button:hover,
.stream-state:hover,
.stream-data:hover,
.category-button:hover
{
    cursor: pointer;
}
.menu{
    margin-right: 16px;
}
.search{
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    width: 50%;
}

.search-input{
    width: 80%;
    max-width: 400px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 3px 0px 0px 3px;
    padding: 5px;
    min-width: 50px;
}

.search-button{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 0px 3px 3px 0px;
    border-left: none;
}

.menu{
    display: flex;
}

.microphone-button, .notification-button {
    font-size: 20px;
    border: none;
    background-color: #ffffff;
    color: lightgray;
    align-self: center;
}

.menu-button{
    display:block;
    border: none;
    border-radius: 100%;
    padding: 10px 11px;
    margin-left: 10px;
    background-color: #f5a63c;
}

.search-input:focus{
    outline: none;
    border: 1px solid blue;
    box-shadow: 0px 0px 3px gray;
}

.menu-list{
    position: absolute;
    top:40px;
    right: 16px;
    box-shadow: 0px 0px 3px gray;
    background-color: white;
    padding: 0;
    border-radius: 5px;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-delay: 0.15s;
}

.menu-list>li{
    list-style: none;
    padding: 10px 15px;
}

.menu-list>li:hover{
    background-color: lightgray;
}
.menu-list > li > a{
    text-decoration: none;
    color: black;
}
.menu-list>li:nth-child(3){
    border-top: 1px solid lightgray;
}
.menu-list>li:nth-child(3)>a{
    color:red
}
.menu-list i{
    margin-right: 5px;
}
.menu-block:hover .menu-list{
    opacity: 1;
    visibility: visible;
}

.microphone-button:hover, .notification-button:hover{
    color: gray;
}

.search-button:hover{
    background-color: lightgray;
}

.container{
    width: 100%;
}

.sidebar{
    position: fixed;
    display: grid;
    width: 240px;
    background-color: #e8e8e8;
    height: 100%;
}

.streamers-list{
    margin-top: 66px;
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
}

.streamers-list::-webkit-scrollbar { 
    -webkit-appearance: none;
    width: 5px;
}

.streamers-list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(191, 191, 191, 1);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
.info{
    height: 130px;
    width: 100%;
    border-top: 1px solid white;
}
.streamer{
    display: flex;
    justify-content: space-between;
    padding: 14px 16px 14px 16px;
}
.streamer:hover{
    background-color: lightgray;
}
.streamer-info img, .streamer-avatar img{
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.streamer-info a{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.streamer-info img{
    margin-right: 10px;
}
.streamer-info span{
    color: black;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95px;
    white-space: nowrap;
}
.streamer-info span:hover{
    color: #0088cc;
}
.stream-info{
    display: flex;
    align-items: center;
}
.dot{
    background-color: red;
    border-radius:  50%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}
.info > div{
    margin: 16px;
    background-color: #dadada;
    height: 98px;
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.info-text{
    display: flex;
    font-size: 18px;
    font-weight: bold;
}
.info-text span{
    text-align: center;
}
.info-text span::selection{
    background-color: #F5A63C;
    color: white;
}
.info:hover{
    background-color: darkgray;
}
.social-media{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
.social-media i{
    font-size: 25px;
    color: black;
}
.social-media i:hover{
    color: #0088cc;
}
.social-media i:active{
    transform: scale(1.5);
    transition-duration: 0.1s;
}
.streamer-avatar img{
    height: 50px;
    border-radius: 50%;
}

.main{
    margin-left: 240px;
    display: grid;

}
.main-bar{
    display: flex;
    margin: 66px 16px 0 16px;
    margin-top: 66px;
    height: 40px;
    padding: 14px 0;
    align-items: center;
    margin-right: 16px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.main-bar::-webkit-scrollbar{
    display: none;
}

.category-button{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 7px;
    margin: 0 10px;
    white-space: nowrap;
}

.category-button:first-child{
    border: none;
    background-color: #F5A63C;
    min-width: 50px;
    margin-left: 0;
}
.category-button:hover{
    background-color: lightgray;
}
.category-button:first-child:hover{
    background-color: #ff9100
}
.main-streams-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-left: 16px;
    margin-right: 16px;
    grid-gap: 10px;
}

.stream-title a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.stream-description a:hover{
    color: #0088cc;
}
.streamer-name a{
    font-size: 16px;
    color: gray;
    text-decoration: none;
}
.stream-menu button{
    background-color: white;
    border: none;
    padding: 0;
    font-size: 16px;
}
.stream-description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.stream-description-bloc{
    display: grid;
    grid-template-columns: 50px auto 20px;
    margin-top: 10px;
}
.stream-image img{
    width: 100%;
}
.stream-image-block:hover .play-button{
    opacity:1;
    transition-delay:0s;
    z-index: 0;
}
.stream-image-block{
    position: relative;
}
.stream-state{
    position: absolute;
    background-color: red;
    top: 5px;
    left: 5px;
    padding: 3px 3px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}
.stream-data{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    bottom: 10px;
    right: 5px;
    padding: 3px 3px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}
.play-button{
    display: flex;
    align-self: center;
    justify-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear;
    background-color: rgba(0,0,0,0.3);
    z-index: -999;
}
.play-button a{
    margin: auto;
}
.play-button i{
    color: white;
}
footer{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 150px;
}
i.footer-text{
    margin-left: 10px;
}

footer a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

footer a:hover .footer-text{ 
    color: #F5A63C;
}
@media screen and (max-width: 1200px){

    .info, .streamer-info span, .stream-info{
        display: none;
    }
    .streamer-info img{
        margin: 0;
    }
    .streamers-list{
        width: fit-content;
    }
    .main{
        margin-left: 77px;
    }
    .sidebar{
        width: fit-content;
        width: -moz-fit-content;
    }
}

@media screen and (max-width: 600px){
    .logo-text{
        display: none;
    }
    .logo{
        min-width: 35px;
    }
}
